@media screen and (max-width:991px) {
    .logo img {
       max-width: 100px;
       }
    .menu-icon {
        display: none;
        color: #fff;
        text-align: right;
        cursor: pointer;
        margin: auto 0;
        cursor: pointer;
        display: inline-block;
        font-size: 23px;
        padding: 10px 15px;
        transition: 0.3s all ease-in-out;
    }
    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: linear-gradient(to top, #d42020, #b74b4b);
        transform: translateX(100%);
        transition: all 0.7s ease;
        z-index: 50;
        justify-content: flex-start;
        color: #fff;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateX(0);
    }
    .main-navbar ul {
        flex-direction: column;
        z-index: 50;
        width: 100%;
        gap: 0;
        justify-content: flex-start;
        padding: 50px 10px;
    }

    .main-navbar ul li a {
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid transparent;
        font-size: 15px;
    }


    .main-navbar ul li a.active {
        border-color: #fff;
        color: #fff;
    }

    .main-navbar ul li a:hover {
        border-color: #fff;
        color: #fff;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 51;
        cursor: pointer;
        border: 1px solid #fff;
        padding: 5px 10px;
        transition: 0.3s all ease;
    }

    .close-icon:hover {
        border-radius: 50%;
    }

    .banner-text h1 {
        font-size: 55px;
    }

    .banner-text h2 {
        font-size: 32px;
        max-width: 400px;
    }

    .home-page-intro p {
        font-weight: 500;
    }

    .home-featured-card {
        height: 320px;
    }

    .home-page-cards {
        height: 280px;
    }

    .page-signup-input {
        width: 65%;
    }

    .blog-cards-image {
    height: 240px;
    }

    .accordion-button,
    .accordion-body {
        font-size: 15px;
    }

    .footer {
        padding: 30px 0;
    }
    .logo-bottom img {
         max-width: 105px;
    }

    .copyright p {
        font-size: 15px;
    }

    /* Pages CSS Start */
    .pages-banner-text h1 {
        font-size: 48px;
    }

    .blog-banner-text h1 {
        font-size: 36px;
    }

    .pages-banner-text h2 {
        font-size: 28px;
        max-width: 400px;
    }

    .pages-intro-wrapper p {
        font-size: 16px;
    }

    .pages-cards-group h3 {
        font-size: 22px;
    }

    .pages-cards ul li,
    .pages-cards-group p {
        font-size: 16px;
    }

    .btn-darkred-block,
    .external-pages-link-btn {
        font-size: 14px;
        padding: 9px 15px;

    }

    .blog-btn {
        font-size: 15px;
    }

    /* Blog Pages CSS Start */
    .blog-pages-content-wrapper h2 {
        font-size: 25px;
    }

    .blog-pages-content-wrapper>p {
        font-size: 16px;
    }

    /* Blog Pages End */

    /* Pages CSS End */

    /* Cookies CSS Start */
    .info p {
        font-size: 14px;
    }

    .button {
        width: calc(55% / 2 - 10px);
        font-size: 14px;
    }

    /* Cookies CSS End */


}

@media screen and (max-width:767px) {
    .logo img {
        max-width: 90px;
    }

    .main-navbar ul li a {
        font-size: 14px;
    }

    .desktop-menu {
        padding: 5px 0;
    }

    .menu-icon {
        font-size: 19px;
    }

    h2.section-heading {
        font-size: 30px;
    }

    .banner-image {
        height: 480px;
    }

    .banner-text h1 {
        font-size: 50px;
    }

    .banner-text h2 {
        font-size: 30px;
        max-width: 400px;
    }

    .home-page-intro p {
        font-size: 15px;
    }
    .blog-cards-content {
        min-height: 140px;
    }


    .home-page-cards {
        height: 250px;
    }

    .page-signup-wrapper h3 {
        font-size: 20px;
        max-width: 500px;
    }



    .page-signup-input {
        font-size: 15px;
        padding: 8px 15px;
    }

    .page-signup-submit-button {
        padding: 7px 20px;
        font-size: 14px;
        margin-top: 10px;
    }

    .accordion-button,
    .accordion-body {
        font-size: 14px;
    }

    .footer .footer-items ul li a {
        font-size: 15px;
    }


    .copyright p {
        font-size: 14px;
    }

    /* Pages CSS Start */
    .pages-banner-image {
        height: 440px;
    }

    .blog-banner-image {
        height: 350px;
    }

    .pages-banner-text h1 {
        font-size: 40px;
    }

    .blog-banner-text h1 {
        font-size: 33px;
    }

    .pages-banner-text h2 {
        font-size: 25px;
        max-width: 400px;
    }

    .pages-intro-wrapper p {
        font-size: 15px;
    }

    .home-page-cards-content a h3,
    .home-featured-card-content h3,
    .blog-cards-content h3 {
        font-size: 22px;
    }

    .pages-cards-image {
        height: 250px;
    }

    .pages-cards-content {
        padding: 0;
    }

    .pages-cards-group h3 {
        font-size: 22px;
    }

    .pages-cards ul li,
    .pages-cards-group p {
        font-size: 15px;
    }

    .btn-darkred-block,
    .external-pages-link-btn {
        font-size: 14px;
    }

    .after-cards-para-wrapper p {
        font-size: 14px;
        padding: 10px;
    }

    .blog-card-group p {
        font-weight: 500;
        font-size: 15px;
    }



    .privacy-policy-group p,
    .terms-conditions-group p {
        font-size: 15px;
    }


    /* Blog Pages CSS Start */
    .blog-pages-content-wrapper h2 {
        font-size: 24px;
    }

    .blog-pages-content-wrapper>p {
        font-size: 15px;
    }

    .blog-card-image {
        height: 230px;
    }

    .short-cards-image {
        height: 130px;
    }

    /* Blog Pages End */
    /* Pages CSS End */

    /* Cookies CSS Start */
    .wrapper {
        padding: 20px 10px;
    }

    .info p {
        font-size: 13px;
    }

    .button {
               font-size: 13px;
        padding: 6px;
    }

    /* Cookies CSS End */

}

@media screen and (max-width:575px) {

    .logo img {
        max-width: 80px;
    }


    .banner-image {
        height: 400px;
    }

    .banner-text h2 {
        font-size: 25px;
        max-width: 400px;
    }

    .home-featured-card {
        height: 230px;
        margin-bottom: 30px;
    }

    .mb-sm-4 {
        margin-bottom: 0 !important;
    }




    .home-page-intro p {
        font-size: 14px;
    }

    .home-page-featured-cards {
        padding: 35px 0;
    }

    .home-page-cards {
        height: 220px;
    }

    .page-signup-input {
        font-size: 13px;
        padding: 6px 15px;
    }

    .page-signup-submit-button {
        padding: 6px 20px;
        font-size: 13px;
    }


    .accordion-button,
    .accordion-body {
        font-size: 13px;
    }

    .accordion {
        --bs-accordion-btn-padding-x: 10px;
        --bs-accordion-btn-padding-y: 10px;
    }

    .footer .footer-items ul li a {
        font-size: 14px;
    }

    .social-icons {
        justify-content: flex-start;
    }

    .footer-items h3 {
        font-size: 22px;
    }

    .logo-bottom img {
        max-width: 90px;
    }

    .menu-links,
    .social-tags {
        width: 45%;
    }

    .copyright p {
        font-size: 13px;
    }

    /* Pages CSS Start */
    .pages-banner-image {
        height: 350px;
    }

    .blog-banner-image {
        height: 320px;
    }

    .pages-banner-text h1 {
        font-size: 35px;
    }

    .blog-banner-text h1 {
        font-size: 30px;
    }


    .pages-banner-text h2 {
        font-size: 20px;
        max-width: 400px;
    }

    .pages-intro-wrapper p {
        font-size: 14px;
    }

    .home-page-cards-content a h3,
    .home-featured-card-content h3,
    .blog-cards-content h3,
    .blog-cards-content h3 {
        font-size: 20px;
    }


    .pages-cards-group h3 {
        font-size: 20px;
    }

    .pages-cards-image {
        height: 220px;
    }

    .page-signup-wrapper h3 {
        font-size: 19px;
        max-width: 400px;
    }

    .pages-cards ul li,
    .pages-cards-group p {
        font-size: 14px;
    }

    .blog-btn {
        font-size: 12px;
        padding: 8px 14px;
    }


    .text-left {
        gap: 5px;
    }

    .btn-darkred-block,
    .external-pages-link-btn {
        font-size: 13px;

    }

    .after-cards-para-wrapper p {
        font-size: 13px;
    }

    .blog-card-group p {
        font-size: 14px;
    }

    .blog-pages-content-wrapper>p {
        font-size: 14px;
    }

    .privacy-policy-group p,
    .terms-conditions-group p {
        font-size: 14px;
    }


    /* Blog Pages CSS Start */
    .blog-pages-content-wrapper h2 {
        font-size: 22px;
    }

    .blog-pages-content-wrapper>p {
        font-size: 14px;
    }

    .blog-cards-image {
        max-height: 210px;
    }

    .short-cards-image {
        height: 110px;
    }

    .accordion-button {
        padding: 10px !important;
    }
    .blog-card-image {
        height: 180px;
    }

    /* Blog Pages End */
    /* Pages CSS End */

    /* Cookies CSS Start */
    .info p {
        font-size: 13px;
    }

    .button {
        width: calc(50% / 2 - 10px);
        font-size: 13px;
    }

    /* Cookies CSS End */

}

@media screen and (max-width:480px) {
    .logo img {
        max-width: 70px;
    }

    .banner-image {
        height: 350px;
    }

    h2.section-heading {
        font-size: 25px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .banner-text h2 {
        font-size: 22px;
    }

    .home-page-intro p {
        font-size: 13px;
    }



    .accordion-button,
    .accordion-body {
        font-size: 12px;
    }

    .footer-items {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-items:last-child {
        margin-bottom: 0;
    }

    .footer .footer-items ul li a {
        text-align: center;
        font-size: 13px;
    }

    .footer-items h3 {
        font-size: 21px;
    }

    .social-icons {
        justify-content: center;
    }

  
    .copyright p {
        font-size: 12px;
    }

    /* Pages CSS Start */
    .pages-banner-image {
        height: 320px;
    }

    .blog-banner-image {
        height: 285px;
    }

    .pages-banner-text h1 {
        font-size: 35px;
    }

    .blog-banner-text h1 {
        font-size: 25px;
    }


    .pages-banner-text h2 {
        font-size: 18px;
    }

    .pages-intro-wrapper p {
        font-size: 13px;
    }

    .pages-cards-image {
        height: 180px;
    }

    .home-page-cards-content a h3,
    .home-featured-card-content h3 {
        font-size: 19px;
    }

    .pages-cards-group h3 {
        font-size: 17px;
    }

    .pages-cards ul li,
    .pages-cards-group p {
        font-size: 13px;
    }

    .btn-darkred-block {
        font-size: 12px;
        padding: 8px 6px;
    }

    .external-pages-link-btn {
        font-size: 12px;
        padding: 8px 6px;
    }

    .blog-cards-image {
        height: 180px;
    }

    .blog-card-group p {
        font-size: 13px;
    }

    .blog-pages-content-wrapper>p {
        font-size: 13px;
    }

    .privacy-policy-group p,
    .terms-conditions-group p {
        font-size: 13px;
    }

    /* Blog Pages CSS Start */
    .blog-pages-content-wrapper h2 {
        font-size: 20px;
    }

    .blog-pages-content-wrapper>p {
        font-size: 13px;
    }

    .blog-card-image {
        height: 180px;
    }

    /* Blog Pages End */

    /* Pages CSS End */

    /* Cookies CSS Start */
    .info p {
        font-size: 12px;
    }

    .buttons {
        gap: 10px;
    }

    .button {
        width: calc(80% / 2 - 10px);
        font-size: 13px;

    }

    /* Cookies CSS End */

}